* {
    margin: 0;
    padding: 0;
}

#main {
    width: 540px;
    height: 216px;
    margin: 200px auto;
    text-align: center;
}

#main:hover {
    cursor: pointer;
}

#main img {
    width: 100%;
    height: 100%;
}